#wp-admin-bar-ut_maintenance {
    .ab-item {
        min-width initial !important
    }
    .ut_maintetance_icon {
        display: inline-block;
        width: 25px;
    }

    &.maintenance-enabled {
        background #e74c3c
    }
}

.ut_maintetance_icon {
    &:before {
        vertical-align middle
    }
}