.suporte-wordpress-form input,
.suporte-wordpress-form textarea {
    width: 100%;
}

#form-response {
    display: block;
    position: relative;
    margin-bottom: 1em;
}


#form-response-close {
    display: block;
    float: right;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    margin: 0.2rem;
}
