
html {
    a,.button,.button-primary {
        box-shadow none !important
        border-radius 0 !important
    }

    .postbox {
        box-shadow none
    }

    input, select, textarea {
        box-shadow none !important
    }

    .notice,.updated {
        box-shadow none !important
    }

    .theme-browser .theme {
        box-shadow none !important
    }

    #screen-meta,#contextual-help-link-wrap, #screen-options-link-wrap {
        box-shadow none !important
    }

    .plugin-install #the-list td, .plugins .active td, .plugins .active th, .plugins .inactive td, .plugins .inactive th, .upgrade .plugins td, .upgrade .plugins th {
        box-shadow none !important
    }

    #menu-management .menu-edit, #menu-settings-column .accordion-container, .feature-filter, .imgedit-group, .manage-menus, .menu-item-handle, .popular-tags, .stuffbox, .widget-inside, .widget-top, .widgets-holder-wrap, .wp-editor-container, p.popular-tags, table.widefat {
        box-shadow none !important
    }

    #adminmenu .wp-submenu, .folded #adminmenu .wp-has-current-submenu .wp-submenu, .folded #adminmenu a.wp-has-current-submenu:focus+.wp-submenu {
        box-shadow none !important
    }

    #wpadminbar .menupop .ab-sub-wrapper, #wpadminbar .shortlink-input {
        box-shadow none !important
    }

    #activity-widget #the-comment-list .comment, #activity-widget #the-comment-list .pingback {
        box-shadow none !important
    }
}