
#wpadminbar {
    transform translateY(-100%)
    transition transform 400ms
}

.wpadminbar_show {
    #wpadminbar {
        transform translateY(0%)
    }
}

#wpadminbar_hover {
    position fixed
    top 0px
    left 0px
    right 0px
    height 15px
    z-index: 99998;
    /*background red*/
}
